@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.banner-container {
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.banner-container h1 {
  font-family: "Exo 2", sans-serif;
  width: 65rem;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.banner-container p {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  color: rgba(255,255,255,0.7);
  width: 57rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.banner-container button {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #CC9933;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.banner-container button:hover {
  transform: scale(1.1);
}