@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  align-self: flex-start;
}

.link-button {
  background: #CC9933;
  color: white;
  font-size: 1.6rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  width: 30rem;
  height: 5rem;
  text-transform: uppercase;
}

.link-button:hover {
  transform: opacity(0.8);
}
