.project-description h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
}

.project-description h1 span {
  color: #CC9933;
}

.project-description p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.project-description ul {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}