@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

header {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-bottom: 1px solid #B8B8B8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000; 
  padding: 3rem 0;
  transition: all 0.3s ease-in-out;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
}

.nav-links span {
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-links span:hover {
  opacity: 1;
}

.selected {
  font-weight: 600;
  opacity: 1;
}

.contacts {
  text-decoration: underline;
}

header.scrolled {
  padding: 2rem 0;
  background-color: #161616;
}

.mobile-only {
  display: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 1000;
}

.burger-menu span {
  height: 2px;
  width: 90%;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: block;
}

header.scrolled .burger-menu span {
  background-color: white;
}

/* Анимация открытия (опционально) */
.burger-menu span.open:nth-child(1) {
  transform: rotate(45deg) translate(1px, 7px);
}

.burger-menu span.open:nth-child(2) {
  opacity: 0;
}

.burger-menu span.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh; /* 👈 Задаем полную высоту окна */
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 998;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.mobile-menu div {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mobile-menu div:hover {
  scale: 1.02;
}

@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-links {
    display: none;
  }

  .logo-text {
    font-size: 3rem;
  }
}