@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.news-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  font-family: "Exo 2", sans-serif;
  align-items: start;
}

.news-container h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.news-row {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.news {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.news img {
  width: 100%;
}

.news h3 {
  margin: 0;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.news span {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.news:hover {
  transform: scale(1.03);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button-container button {
  background-color: #C4C4C4;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  width: 20rem;
  height: 6rem;
}

@media (max-width: 1440px) {
  .news {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .news {
    width: 49%;
  }

  .news-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .news-row {
    gap: 1.8rem;
  }

  .news {
    width: 49%;
  }

  .news img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .news-container h1 {
    font-size: 4.5rem;
  }

  .news-row {
    gap: 2rem;
  }

  .news {
    width: 48.3%;
  }

  .news img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .news {
    width: 100%;
  }

  .news img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .news-container h1 {
    font-size: 3.5rem;
  }
}