footer {
  font-size: 1.8rem;
  padding: 30px 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem; /* отступы между колонками */
}

.footer-div {
  display: flex;
  flex-direction: column;
  flex: 1;          /* все три колонки занимают равную ширину */
  min-width: 220px; /* ограничение, чтобы не схлопывались на узких экранах */
}

.footer-div span {
  font-size: 2.4rem;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
}

.footer-div.mid {
  flex: 1.2;
  margin-right: 8rem;
}

.footer-div.right {
  flex: 0.7;
}

.footer-logo {
  margin-bottom: 3.5rem;
  width: 25rem;
}

.footer-div.left span {
  margin-bottom: 2.3rem;
  font-size: 2.4rem;
  font-weight: 300;
}

.number {
  font-weight: 500;
  margin: 0;
  margin-bottom: 2.3rem;
  font-size: 2.4rem;
}

.social-row {
  display: flex;
  gap: 3rem;
}

.social-row img {
  width: 3rem;
  cursor: pointer;
}

.div-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-sub-div {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.right-sub-div {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.footer-div h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3.8rem;
  margin: 0;
  margin-bottom: 4rem;
}

.selected {
  font-weight: 500;
}

@media (max-width: 1200px) {

  .footer-div h1 {
    font-size: 3rem;
  }

  .footer-div span {
    font-size: 2.2rem;
  }
}

@media (max-width: 1000px) {
  .footer-container {
    justify-content: start;
    gap: 1rem;
  }

  .footer-div.mid {
    margin: 0;
    flex: 1;
  }

  .footer-div h1 {
    font-size: 2.5rem;
  }

  .div-content span {
    font-size: 2rem;
  }

  .footer-div.left span {
    font-size: 2rem;
  };

  .number {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }  

  .footer-div {
    width: 45rem;
  }
  
  .footer-div.mid {
    margin: 0;
  }

  .footer-div h1{
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  .footer-div span {
    font-size: 2.2rem;
  }

  .footer-div.left span {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .footer-div {
    flex: unset;
    width: 100%;
    max-width: 45rem;
    align-items: center;
    text-align: center;
  }

  .footer-div h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .footer-div span {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .social-row {
    justify-content: center;
  }
}