@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.products-main {
  padding-top: 100px;
  display: flex;
}

.products-sub-container {
  width: 102.4rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.products-header-container {
  font-family: "IBM Plex Sans", sans-serif;
  background: linear-gradient(70deg, #000 20%, #CC9933);;
  border: none;
  width: 100%;
  padding: 2rem 3rem;
}

.products-header-container h1 {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.products-header-container h1 span {
  color: #FFAD09;
}

.products-header-container p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}