@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.services-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.services-container h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Exo 2", sans-serif;
  margin: 0;
}

.service-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
  margin-top: 2rem;
}

.service-row img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.service-row img:hover {
  transform: scale(1.02);
}

@media (max-width: 1440px) {
  .service-row img {
    width: 32.9%;
  }
}

@media (max-width: 1200px) {
  .service-row img {
    width: 49.5%;
  }

  .service-row {
    gap: 1.15rem;
  }
}

@media (max-width: 1000px) {
  .service-row img {
    width: 49.3%;
  }
  .service-row {
    gap: 1.25rem;
  }
}

@media (max-width: 800px) {
  .services-container h1 {
    font-size: 4.5rem;
  }

  .service-row {
    gap: 2rem;
  }

  .service-row img {
    width: 48.5%;
  }
}

@media (max-width: 700px) {
  .service-row img {
    width: 48.2%;
  }
}

@media (max-width: 600px) {
  .service-row img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .services-container h1 {
    font-size: 3.5rem;
  }
}